@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<h2>Loopy</h2>
<p>Loopy is a <strong>Intelligent route planner for personalized outdoor exercise.</strong></p>
<ul>
    <li>Receives as input the user position from a map and its target exercise (walk,run,bike and exercise distance or time).</li>
    <li>Receives open topological data, e.g. area graph and elevations, park data, health exercise guidelines.</li>
    <li>Runs an intelligent agent that associates open data with the user input data and runs a customize route path planner algorithm.</li>
    <li>Returns an optimized route to meet the user needs, e.g., for a beginner runner will return a route with low elevation paths and for an advance runner a route with high elevation paths.</li>
</ul>
<img src="~/Content/whoarewe.jpg" />