@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="color:white">
    <h1>Fitrail</h1>
    <p class="lead">Get fit while riding a bike or taking a casual walk in nature. Fitrail is the way!</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="map"></div>

