@{
    ViewBag.Title = "Home Page";
    @Scripts.Render("~/bundles/gmap2")
}

@*<div class="jumbotron" style="color:white">
    <h1></h1>
    <p class="lead"></p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div id="map"></div>

