
@{
    ViewBag.Title = "Your Route, Expert,50 mins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<legend>Your Route</legend>
<div id="map"></div>
<script type="text/javascript">
    var map;
    var marker, i;
    var latlng = new google.maps.LatLng(35.171068, 33.360473);
    var myOptions = {
        zoom: 18,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map"), myOptions);
    var route = [
       [35.1711,33.3588],
       [35.1711,33.3589],
       [35.1710,33.3590],
       [35.1709,33.3592],
       [35.1705,33.3599],
       [35.1700,33.3609],
       [35.1705,33.3599],
       [35.1709,33.3592],
       [35.1710,33.3590],
       [35.1711,33.3589],
       [35.1711,33.3588]
    ];
    var polylinenew = new google.maps.Polyline({
        //path: route,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
    });
    //polylinenew.setMap(map);
    for (i = 0; i < route.length; i++) {
        //alert(parks[i][0]);
        var path = polylinenew.getPath();

        marker = new google.maps.Marker({
            position: new google.maps.LatLng(route[i][0], route[i][1]),
            map: map//,
        });
        path.push(new google.maps.LatLng(route[i][0], route[i][1]));
        polylinenew.setMap(map);

        //alert(typeof (marker));
        //google.maps.event.addListener(marker, 'click', (function (marker, i) {
        //    return function () {
        //        //infowindow.setContent(parks[i][0]);
        //        infowindow.open(map, marker);
        //    };
        //})(marker, i));
    }


</script>


